.navigator__container {
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 1312px;
  grid-template-rows: auto;
  grid-template-columns: 40px 1fr auto 40px;
  grid-template-areas: ". title options .";
}
