.searchbar__term {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #1a1b22;
  grid-area: term;
}

.searchbar__term::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #b6bcbf;
}

.searchbar__term:focus {
  outline: none;
}
