.button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  color: inherit;
  border-radius: 30px;
  padding: 11px;
  width: auto;
  line-height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 7px;
    width: 152px;
  }
}
