.modal__close {
  grid-area: closeButton;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

@media screen and (max-width: 550px) {
  .modal__close {
    justify-content: end;
  }
}
