.header {
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 1440px rgba(26, 27, 34, 0.75);
  background-size: cover;
  color: #fff;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  grid-template-areas:
    "top-bar"
    "content";
}

.header__top-bar {
  width: 100%;
  grid-area: top-bar;
}

.header__top-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 104px;
  max-width: 1232px;
}

.header__top-bar-divider {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  opacity: 0.8;
  grid-area: divider;
  z-index: 1;
}

.header__sitename {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  grid-area: title;
}

.header__theme_light {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  color: #1a1b22;
}

.header__content {
  height: 496px;
  display: grid;
  align-items: baseline;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "navigator"
    "main"
    "searchbar";
  grid-area: content;
}

.header__titles {
  padding: 0;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  row-gap: 32px;
  flex-direction: column;
  align-items: baseline;
  width: 608px;
}

.header__title {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  white-space: pre-line;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.header__searchbar {
  margin: 0 auto;
  margin-top: 48px;
}

@media screen and (max-width: 899px) {
  .header__title {
    font-size: 50px;
    line-height: 55px;
  }
  .header__top-bar {
    display: flex;
    flex-wrap: wrap;
  }
  .header__top-bar-container {
    padding: 0 40px;
    margin: 0;
    position: relative;
    z-index: 1;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header__content {
    height: 334px;
  }
  .header__titles {
    margin-top: 38px;
    width: 452px;
    row-gap: 16px;
  }
  .header__title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .header__content {
    height: 100vh;
  }
  .header__titles {
    width: 90%;
  }
  .header__top-bar-container {
    padding: 0 16px;
  }
}

@media screen and (max-width: 346px) {
  .header__title {
    font-size: 32px;
  }
  .header__subtitle {
    font-size: 20px;
  }
}
