.about-author__photo-mask {
  grid-area: photo;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  justify-self: center;
}
