.news-card {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: calc((100% - 32px) / 3);
  height: 576px;
  background-color: #fff;
  display: grid;
  /* (desired-size / card-size) * card-size-% */
  grid-template-rows: calc(272 / 576 * 100%) 1fr;
  grid-template-columns: auto;
  grid-template-areas:
    "photo"
    "content";
  border-radius: 5%;
  overflow: hidden;
  /*display 3 elements by row*/
  /*100% - column-gap / qty of cards*/
  flex-basis: calc((100% - 32px) / 3);
  position: relative;
}

.news-card__bookmark {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 5px;
}

.news-card__bookmark-tooltip {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 182px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-card__bookmark-text {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 10px;
  line-height: 1.172;
}

.news-card__photo {
  margin: 0;
  padding: 0;
  grid-area: photo;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-card__content {
  margin: 0;
  padding: 0;
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px;
}

.news-card__button {
  width: auto;
  height: auto;
  padding: 0;
  border-radius: 8px;
  background-color: #fff;
}

.news-card__date {
  margin: 0;
  padding: 0;
  color: #b6bcbf;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}

.news-card__title {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1a1b22;
  height: 90px;
  max-width: 352px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 12px;
}

.news-card__description {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 88px;
  max-width: 352px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 14px;
}

.news-card__publisher {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b6bcbf;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-top: auto;
}

@media screen and (max-width: 1280px) {
  .news-card {
    height: 420px;
    /* (desired-size / card-size) * card-size-% */
    grid-template-rows: calc(150 / 420 * 100%) 1fr;
  }

  .news-card__content {
    padding: 16px;
  }

  .news-card__date {
    height: auto;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .news-card__title {
    height: 96px;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .news-card__description {
    height: auto;
    font-size: 16px;
    line-height: 22px;
    -webkit-line-clamp: 3;
    margin-bottom: 8px;
  }

  .news-card__publisher {
    height: auto;
    font-size: 16px;
    line-height: 20px;
  }

  .news-card__bookmark {
    margin-top: 8px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 900px) {
  .news-card__bookmark-tooltip {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .news-card {
    height: 440px;
    grid-template-rows: calc(196 / 440 * 100%) 1fr;
    flex-basis: auto;
  }

  .news-card__date {
    margin-bottom: 10px;
  }

  .news-card__title {
    font-size: 22px;
    line-height: 24px;
    height: 48px;
    -webkit-line-clamp: 2;
    margin-bottom: 14px;
  }

  .news-card__description {
    height: auto;
    -webkit-line-clamp: 4;
  }

  .news-card__bookmark {
    margin-top: 16px;
    margin-right: 16px;
  }
}
