.navigator__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 32px;
  grid-area: menu;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .navigator__menu {
    column-gap: 19px;
  }
}

@media screen and (max-width: 679px) {
  .navigator__menu {
    display: none;
  }
}
